body {
  background: #f3bf72;

}

span{
  padding: 30px;
}

.arma {
  width: 120px;
  height: 60px;
  border-radius: 24px;
  font-size: 2rem;

}

.jugar{
  width: 620px;
  height: 60px;
  margin: 20px 0 ;
  border-radius: 24px;
  font-size: 2rem;
}